/* Réinitialisation des marges et des paddings pour tous les éléments */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; /* Scroll fluide */
}

/* Styles généraux pour le corps de la page */
body {
    font-family: Arial, sans-serif; /* Police générale de la page */
    background-color: #c09064; /* Couleur de fond principale */
    color: #1e1e1e; /* Couleur du texte principal */
    overflow-x: hidden; /* Évite le défilement horizontal */
}

/* Section header : barre de navigation principale */
header {
    display: flex; /* Affiche les enfants en ligne */
    justify-content: space-between; /* Espace entre les éléments */
    align-items: center; /* Aligne verticalement au centre */
    padding: 20px 50px; /* Espacement intérieur */
    background-color: #c09064; /* Couleur de fond */
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    width: 170px; /* Taille du logo */
}

/* Menu de navigation */
nav ul {
    display: flex;
    list-style-type: none; /* Supprime les puces de liste */
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-between; /* Espace égal entre les éléments */
}

nav ul li {
    position: relative; /* Nécessaire pour les éléments pseudo comme ::after */
    margin-left: 170px; /* Espacement entre les items */
}

/* Style des liens dans la navigation */
nav ul li a {
    text-decoration: none; /* Supprime le soulignement */
    color: #1e1e1e; /* Couleur du texte */
    font-size: 20px; /* Taille de police */
    position: relative;
    display: inline-block;
    padding: 10px 25px; /* Espacement intérieur */
}

/* Effet de survol avec une ligne animée */
nav ul li a::after {
    content: ''; /* Pseudo-élément vide */
    position: absolute;
    width: 0; /* Initialement caché */
    height: 3px; /* Épaisseur de la ligne */
    display: block;
    margin-top: 5px;
    right: 0;
    background: #1e1e1e; /* Couleur de la ligne */
    transition: width 0.3s ease, left 0.3s ease; /* Animation fluide */
}

nav ul li a:hover::after {
    width: 100%; /* Ligne sétend sous le lien */
    left: 0;
}

nav ul li a.active {
    font-weight: bold; /* Met en gras le lien actif */
}

/* Menu mobile : bouton de menu et affichage du menu */
.menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor:grab;
}

.menu-icon{
    display: none;
}

/* Responsivité pour les écrans moyens et petits */
@media (max-width: 1600px) {
    nav ul li {
        margin-left: 50px;
    }

    nav ul li a {
        padding: 10px 17px;
    }

    .logo img {
        width: 150px; /* Réduction de la taille du logo */
    }
}

@media (max-width: 1200px) {
    nav ul li {
        margin-left: 30px;
    }

    nav ul li a {
        padding: 10px 12px;
    }

    .logo img {
        width: 120px;
    }
}

@media (max-width: 1024px) {
    nav ul li {
        margin-left: 20px;
    }

    nav ul li a {
        padding: 10px 7px;
    }

    .logo img {
        width: 100px;
    }
}

@media (max-width: 768px) {
    /* Menu de navigation vertical pour les petits écrans */
    nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden; /* Cache les éléments hors champ */
        max-height: 0; /* Menu fermé */
        transition: max-height 0.3s ease-out; /* Animation pour l'ouverture */
    }

    .menu-icon{
        display: block;
    }

    /* Lorsque la case est cochée, on affiche le menu */
    #menu-toggle:checked + label + nav ul {
        max-height: 500px; /* Menu ouvert */
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
        text-align: center; /* Centrage pour petits écrans */
    }

    .menu-toggle {
        display: block; /* Affiche le bouton pour mobiles */
        cursor: pointer;
        font-size: 30px;
        color: #1e1e1e;
        background: none;
        border: none;
    }

    .menu-toggle:focus {
        outline: none; /* Supprime le focus */
    }

    .logo img {
        width: 120px;
        margin-bottom: 10px;
    }
}

/* Section héro : image de fond */
.hero {
    background-image: url(../data/image_accueil.png); /* Image de fond */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Couleur du texte */
    text-align: center;
    position: relative;
}

.hero-content {
    font-size: 25px;
    color: #EEEEEE;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.hero-content a {
    color: inherit; /* Utilise la couleur parent */
    text-decoration: none; /* Supprime le soulignement */
}

/* Section principale */
main {
    padding: 20px; /* Espacement intérieur */
}

h2 {
    text-align: center;
    margin: 20px;
    font-size: 30px;
}

.titres {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

/* Styles pour les "cartes */
.carte {
    margin: 20px auto;
    width: 90%;
}

.items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.item {
    text-align: center;
    margin: 10px;
}

.item img {
    width: 250px;
    height: auto;
    border-radius: 10px; /* Coins arrondis */
    object-fit: cover; /* Image redimensionnée */
    margin-bottom: 10px;
}

.item p {
    font-size: 30px; /* Texte sous les images */
}

/* Section contact */
.contact {
    text-align: left;
}

.contact p {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.contact a {
    color: #1e1e1e;
    text-decoration: underline;
}

.contact a:hover {
    text-decoration: none;
}

/* Section sociale */
.social {
    text-align: center;
}

.social a {
    display: inline-block;
    margin: 0 100px;
    text-decoration: none;
}

.social img {
    display: block;
    margin: 0 auto;
    width: 140px;
    height: auto;
}

/* Section sociale : icônes et liens vers les réseaux sociaux */
.social p {
    margin-top: 5px; 
    font-size: 30px; 
    font-weight: bold; 
    color: #1e1e1e; 
    text-decoration: none; /* Supprime le soulignement */
}

.social p:hover {
    color: #EEEEEE; /* Changement de couleur au survol */
    transition: ease-in-out 0.2s; /* Animation de transition fluide */
}

/* Section services : liste et image fixe */
.services {
    color: #2E2E2E; 
    font-size: 25px; 
    font-weight: bold; 
}

.services ul {
    list-style-type: disc; 
    padding: 40px;
    margin-left: 50px; 
}

.services li {
    font-weight: 500; 
    margin-bottom: 7px; 
}

.services img {
    position: fixed; /* Position fixe en bas à droite */
    bottom: 0;
    right: 0;
    width: 15%; 
    height: auto; /* Conserve les proportions */
    margin: 20px; /* Marges autour de l'image */
}

/* Cacher l'image pour les écrans étroits */
@media (max-width: 800px) {
    .services img {
        display: none; /* Masquer l'image fixe */
    }
}

/* Section affluence : informations de fréquentation */
.affluence {
    color: #2E2E2E; 
    font-weight: bold; 
    padding-left: 30px; 
}

.affluence h3 {
    font-size: 22px; /* Taille des titres */
}

.affluence ul {
    list-style-type: disc; 
    padding: 40px; 
    margin-left: 50px; 
}

.affluence li {
    font-weight: 700; 
    font-size: 20px;  
    margin-bottom: 4px; /* Espacement entre les items */
}

/* Section informations : texte, listes et icônes */
.informations {
    color: #2E2E2E; /* Couleur principale */
    font-weight: bold; /* Texte en gras */
    padding-left: 30px; /* Décalage à gauche */
}

.informations h2 {
    text-align: center; 
    width: 100%; /* Occupe toute la largeur */
}

.informations h3 {
    font-size: 22px; 
    padding-bottom: 10px; 
}

.informations h3,
.informations img {
    display: inline-block; 
    vertical-align: middle; 
    margin-right: 10px; 
}

.informations img {
    width: 60px; 
    height: auto; 
}

.informations p {
    font-size: 18px; 
    font-weight: 500; 
    margin-bottom: 10px; 
}

.informations ul {
    list-style-type: disc; 
    padding: 20px; 
    margin-left: 50px; 
}

.informations li {
    font-weight: 500; 
    font-size: 20px; 
    margin-bottom: 4px; /* Espacement entre les items */
}

/* Section mentions légales */
.mentions {
    color: #2E2E2E; /* Couleur principale */
    font-weight: bold; /* Texte en gras */
    padding-left: 30px; /* Décalage à gauche */
}

.mentions h3 {
    font-size: 22px; /* Taille des sous-titres */
    padding-bottom: 10px; /* Espacement en dessous */
}

.mentions p {
    font-size: 18px; 
    font-weight: 500; 
    margin-bottom: 10px; /* Espacement entre paragraphes */
}

/* Section footer : pied de page */
footer {
    display: flex; /* Affichage en ligne des enfants */
    justify-content: center; /* Centrage horizontal */
    align-items: center; 
    padding: 10px; 
    background-color: #c09064; 
    color: #1e1e1e; 
    text-align: center; /* Alignement du texte */
    width: 100%; /* Occupe toute la largeur */
    position: relative; /* Permet d'ajuster des éléments internes */
}

footer a {
    color: #1e1e1e; /* Couleur des liens */
    text-decoration: none; /* Supprime le soulignement */
}

/* Personnalisation de la scrollbar */
body::-webkit-scrollbar {
    width: 10px; /* Largeur de la scrollbar */
}

body::-webkit-scrollbar-track {
    background: black; /* Couleur de la piste */
    padding: 5px; /* Espacement intérieur */
}

body::-webkit-scrollbar-thumb {
    background-color: #5f5f5f; /* Couleur du curseur */
    border-radius: 10px; /* Arrondi des bords */
    border: 0px solid black; /* Supprime la bordure */
}
